.header {
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    height: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-family: monospace;
}

.header-name {
    color: #c2c2c2;
    margin-right: 1rem;
}

.member-search {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.member-search input {
    background-image: url("../../image/icon_search.png");
    width: 328px;
    height: 35px;
    border-radius: 16px;
    border: 2px solid #f1f1f1;
    padding-left: 4rem;
    font-size: 0.8rem;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 22px;
    box-sizing: border-box;
    color: #c2c2c2;
    margin-right: 2rem;
}

.member-search input:focus {
    outline: none;
}

.member-search input::placeholder {
    color: #c2c2c2;
}

.member-count {
    color: #c2c2c2;
    font-size: 1rem;
    font-family: sans-serif;
}

.add-member-btn {
    width: 150px;
    height: 35px;
    background: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.add-member-btn:focus {
    outline: none;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 32rem;
    overflow-y: auto;
    margin: 3rem auto;
    cursor: pointer;
}

.user-container-wrapper {
    background: #F8F8F8;
    display: flex;
    flex-direction: row;
    width: 28rem;
    height: 6rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border-right: 4px solid #FF9933;
    margin-bottom: 3rem;
    position: relative;
}

.user-info-name {
    font-family: sans-serif;
    font-size: 1.3rem;
    width: calc(100% - 4rem);
}

.user-info-location {
    font-family: monospace;
    color: #bdbcbd;
    font-size: 1rem;
    display: flex;
    margin-top: 0.5rem;
}

.user-delete {
    width: 4rem;
    font-size: 1rem;
    font-family: monospace;
    color: #bdbcbd;

}

.confirmation-popup {
    position: absolute;
    background: white;
    height: 80px;
    width: 270px;
    left: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30px;
    box-shadow: #c2c2c2 0px 3px 6px;
}

.confirmation-btn-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.confirmation-cancel-btn {
    width: 90px;
    height: 30px;
    background: whitesmoke;
    border-radius: 6px;
    border: 1px;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
}

.confirmation-success-btn {
    width: 90px;
    height: 30px;
    background: #d30101;
    border-radius: 6px;
    border: 1px solid #d30101;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}